/* .custom-table-wrapper {
    border: 2px solid #6fae3c;
    background-color: #eff9f0;
    padding: 10px;
}

.slds-align_absolute-center {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.slds-p-around_medium {
    padding: 1rem;
}

.slds-p-top_medium {
    padding-top: 1rem;
}

.slds-m-left_small {
    margin-left: 0.5rem;
}

.slds-radio-group {
    width: 100%;
    text-align: left;
}

.slds-radio-group .slds-form-element {
    margin-bottom: 1rem;
}

.email-preview-box {
    white-space: pre-wrap;
}

.welcome-screen {
    background-color: #f4f6f9;
    border-radius: 10px;
    padding: 2rem;
}

.user-item {
    padding: 0.5rem;
    border-bottom: 1px solid #e0e0e0;
    cursor: pointer;
}

.user-item:hover {
    background-color: #f4f6f9;
}


.slds-text-align_center {
    text-align: center;
}

.slds-m-bottom_medium {
    margin-bottom: 1rem;
}

.slds-p-bottom_small {
    padding-bottom: 0.5rem;
}

.slds-grid_align-center {
    justify-content: center;
}

.search-container {
    border: 1px solid #d8dde6;
    background-color: #f9fafb;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.slds-p-bottom_medium {
    padding-bottom: 1rem;
}
 */



 .custom-table-wrapper {
    border: 2px solid #6fae3c;
    background-color: #eff9f0;
    padding: 10px;
    /* border-radius: 4px; */
}

.slds-align_absolute-center {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.slds-p-around_medium {
    padding: 1rem;
}

.slds-p-top_medium {
    padding-top: 1rem;
}

.slds-m-left_small {
    margin-left: 0.5rem;
}

.slds-radio-group {
    width: 100%;
    text-align: left;
}

.slds-radio-group .slds-form-element {
    margin-bottom: 1rem;
}

.email-preview-box {
    white-space: pre-wrap;
}

.welcome-screen {
    background-color: #f4f6f9;
    border-radius: 10px;
    padding: 2rem;
    
}

.user-item {
    padding: 0.5rem;
    border-bottom: 1px solid #e0e0e0;
    cursor: pointer;
}

.user-item:hover {
    background-color: #f4f6f9;
}


.slds-text-align_center {
    text-align: center;
}

.slds-m-bottom_medium {
    margin-bottom: 1rem;
}

.slds-p-bottom_small {
    padding-bottom: 0.5rem;
}

.slds-grid_align-center {
    justify-content: center;
}

.search-container {
    border: 1px solid #d8dde6;
    background-color: #f9fafb;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.slds-p-bottom_medium {
    padding-bottom: 1rem;
}
