.stats-container {
    display: flex;
    justify-content: space-around;
    background-color: rgb(245, 240, 240); /* #f0f0f0 */
    padding: 25px;
    border-radius: 10px;
    margin-top: 30px;
}

.stat-card {
    text-align: center;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    transition: transform 0.3s;
}

.stat-card:hover {
    transform: translateY(-10px);
}

.number {
    font-size: 2em;
    font-weight: bold;
    color: #2c3e50;
}

p {
    margin-top: 10px;
    font-size: 1.2em;
    color: #2c3e50;
}


